@model PlaylistGenerator.ViewModels.IndexViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Generator</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/Images/icon_space_between.png">
    @Styles.Render("~/Content/bootstrap4-toggle.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    


</head>
<body>
    <nav class="navbar navbar-dark justify-content-between" style="background-color: #343a40;">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><h1 class="long_title">Playlist Generator</h1></a>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><h1 class="short_title">PG</h1></a>
            @if (Model.profile == null)
            {
                <button class="rounded btn btn-light" type="button" id="connectButton">
                    Connect with Spotify
                </button>
            }
            @if (Model.profile != null)
            {

                <div class="dropdown">
                    @*<div style="color:white; padding-right:20px; padding-top:15px;">Logout</div>*@

                    <button class="rounded btn btn-light dropdown-toggle float-right" type="button" id="userButtonDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style=@(Model.profile.Images.Count <= 0 ? "": "padding:6px 5px 2px 5px;")>
                        <img src="@(Model.profile.Images.Count <= 0 ? "" : Model.profile.Images[0].Url)"
                             height="25" width="25" style="border-radius:50%; margin-bottom:4px;"
                             @(Model.profile.Images.Count <= 0 ? "hidden" : "") />
                        @Model.profile.DisplayName
                    </button>


                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="@Url.Action("Logout", "Authorize")">Logout</a>
                    </div>

                </div>
            }
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()


        <hr style="border-top: 1px solid white;" />
        <footer style="color:white;">
            <p>&copy; @DateTime.Now.Year - Playlist Generator</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap4-toggle.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("https://sdk.scdn.co/spotify-player.js")
    @Scripts.Render("~/Scripts/Site.js")
    @RenderSection("scripts", required: false)
    <script>
    //paste this code under the head tag or in a separate js file.
	// Wait for window load




        $(function () {
            $('#toggle-two').bootstrapToggle({
                on: 'Artist',
                off: 'Song',
                height: 10,
                offstyle: 'primary',
                onstyle: 'primary',
                style: '.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }'

            });
        });


        $('#connectButton').click(function (res) {

            location.href = '@Url.Action("Login","Authorize")';
        });


    </script>
</body>
</html>
