@model PlaylistGenerator.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}


    <div id="page-loading" hidden>
        <div class="three-balls">
            <div class="ball ball1"></div>
            <div class="ball ball2"></div>
            <div class="ball ball3"></div>
        </div>
    </div>

    <div style="margin-top:30px;">
        <div class="alert alert-success alert-dismissible fade show" role="alert" @(ViewBag.FlashMessage == null ? "hidden" : "")>
            @ViewBag.FlashMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @*<h1 class="search_title">Search</h1>*@

        <!-- Search form -->
        @using (Html.BeginForm("CreatePlaylist", "Playlist", FormMethod.Post, new { id = "createForm" }))
        {
            <div class="conainer" style="color:white;">

                <div class="form-group mb-4">
                    <input type="hidden" id="inputId" name="inputId" value="" />
                    <input type="hidden" id="isTrack" name="isTrack" value="true" />
                    <div class="row d-flex justify-content-between" style="margin-right:0px !important; margin-left:0px !important;">

                        <div class="form-row w-100 justify-content-between"style="margin-right:0px !important; margin-left:0px !important;">
                            <input id="searchTrack_Name" type="search" class="form-control no-gutters" placeholder="Search for a song..." name="query" spellcheck="false" />

                            <button disabled id="submit" type="submit" class="btn btn-light rounded">Generate</button>

                        </div>
                        <div class="form-row w-100 justify-content-between" style="margin-right:0px !important; margin-left:0px !important; padding-top:15px;">
                            <button class="advanced_settings_btn" id="showhidetrigger" type="button">Advanced Settings</button>
                            <input type="checkbox" id="toggle-two">
                        </div>

                    </div>
                </div>



                <div id="showhidetarget">
                    <div class="row" style="padding-bottom:20px;">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-4">

                            <div class="artist_range row">How many different artists?</div>
                            <div class="row">
                                <div>
                                    <input type="range" name="range" id="range" min="1" max="5" step="1" value="3" class="custom-range" style="width:300px;" />
                                </div>
                            </div>
                            <div class="row"><label for="range" id="rangeLabel">A good amount of artists</label></div>
                        </div>
                        <div class="col">
                            <div class="row h-100 align-items-center">
                                <select id="numberOfTracks" name="numberOfTracks" class="custom-select" style="width:133px;">
                                    @*<option disabled="disabled" selected="selected" value="">Select a playlist size...</option>*@
                                    <option value="15">15 Songs</option>
                                    <option id="30Option" value="30" selected="selected">30 Songs</option>
                                    <option id="50Option" value="50">50 Songs</option>
                                    <option id="100Option" value="100">100 Songs</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        }

        <p id="imageSelectLabel" class="lead" @(Model.profile == null ? "hidden" : "")>Or select one your recent songs.</p>
        <div class="conainer">
            <div id="recentTracks" class="row justify-content-between" style="margin-right:0px !important; margin-left:0px !important;">
                @foreach (var track in Model.recentTracks.TrackList)
                {
                    <div style="padding-bottom:10px;">
                        @using (Html.BeginForm("CreateFromCard", "Playlist", FormMethod.Post))
                        {
                            <input hidden name="numberOfTracks" class="numTracks" value="30" />
                            <input hidden name="range" class="range" value="3" />
                            <input hidden name="isTrack" value="true" />
                            <input hidden name="inputId" value="@track.Id" />

                            <div class="card" style=" max-height:202px; max-width:204px; position:relative;">
                                <button onclick="$('#page-loading').removeAttr('hidden');" class="card-button" type="submit" style="padding:0;border:none;">
                                    <img class="img card-img-top" src="@track.Album.Images[0].Url" height="200" width="200" style="border-radius: 2%;" />
                                </button>
                                <a onclick="this.closest('form').submit();return false;"><div class="card_name card-body text-white rgba-black-light p-2">@track.Name</div></a>
                            </div>

                        }
                    </div>
                }
            </div>
        </div>
        <div class="conainer justify-content-between">
            <div id="recentArtists" class="row justify-content-between" style="margin-right:0px !important; margin-left:0px !important;">
                @foreach (var artist in Model.topArtists)
                {
                    <div style="padding-bottom:10px;">
                        @using (Html.BeginForm("CreateFromCard", "Playlist", FormMethod.Post))
                        {
                            <input hidden name="numberOfTracks" class="numTracks" value="30" />
                            <input hidden name="range" class="range" value="3" />
                            <input hidden name="isTrack" value="false" />
                            <input hidden name="inputId" value="@artist.Id" />

                            <div class="card" style=" max-height:202px; max-width:204px; position:relative;">
                                <button onclick="$('#page-loading').removeAttr('hidden');" class="card-button" type="submit" style="padding:0;border:none; background-color:#343a40;">
                                    <img class="img card-img-top" src="@artist.Images[0].Url" height="200" width="200" style="border-radius: 2%;" />
                                </button>
                                <div class="card_name card-body text-white rgba-black-light p-1">@artist.Name</div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>


