@model PlaylistGenerator.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Create";
}


    <div id="page-loading" hidden>
        <div class="three-balls">
            <div class="ball ball1"></div>
            <div class="ball ball2"></div>
            <div class="ball ball3"></div>
        </div>
    </div>

<hr style="border-top: 1px solid white;" />



<div class="container justify-content-between">
    <div class="row">
        <h3 class="playlist_title">@Model.title</h3>
        @*<span class="track_count">@Model.Playlist.TrackList.Count</span>*@
    </div>
    <div class="row">

        <div class="col col-lg-9" style="padding-left:0px;">

            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col" width="7%"></th>
                        <th scope="col">Title</th>
                        <th scope="col" width="25%">Artist</th>
                        <th scope="col" width="10%">Length</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var track in Model.Playlist.TrackList)
                    {
                        <tr onclick="window.open('http://open.spotify.com/track/@track.Id','_blank')">
                            <td><img src="@track.Album.Images[2].Url" width="30" height="30" /></td>
                            <td>@track.Name</td>
                            <td>@track.Artists[0].Name</td>
                            <td>@Model.trackLengths[track.Id]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @using (Html.BeginForm("Save", "Playlist", FormMethod.Post))
        {
            <div class="col">
                <div class="row">
                    <img src="@Model.imageUrl" width="277" height="277" />
                </div>
                <div hidden class="row form-check form-check-inline" style="padding-top:20px;">
                    <input class="form-check-inline" type="checkbox" name="isPublic" id="isPublic" value="false" />
                    <label class="form-check-label" for="isPublic" style="color:white;">Public Playlist</label>
                </div>
                <div class="row" style="padding-top:20px;" @(Model.profile == null ? "hidden" : "")>
                    <input class="form-control" type="text" id="playlistName" name="playlistName" placeholder="Rename Playlist...(optional)" />
                </div>

                <div class="row sticky-top" style="padding-top:20px;">
                    <button class="btn btn-light" id="@(Model.profile == null ? "login" : "save-button")" 
                            type="@(Model.profile == null ? "button" : "submit")"
                            style="width:277px !important;">
                        @(Model.profile == null ? "Login to Save" : "Save to Spotify")
                    </button>
                </div>
            </div>
        }
    </div>
</div>
